@import '../../../assets/scss/variables';

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: $bp-mobile-l) {
    flex-direction: column-reverse;
  }
}

.search {
  margin-bottom: 15px;
}
