$black: #000000;
$royal-blue: #4f85e4;
$horizon: #657c9a;
$spindle: #c2cfdf;
$columbia-blue: #a1c4ff;
$red: #ff0000ff;
$white: #ffffff;
$turquoise: #50e3a5;
$bermuda-grey: #667b9a;
$ghost-white: #fbfcff;
$san-juan: #475665;
$alice-blue: #f7f8ff;
