@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-toastify/dist/ReactToastify.css';

html,
body {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

// algolia places styles
.ap-footer,
.ap-input-icon {
  display: none;
}

.algolia-places {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
