@import '../../../assets/scss/variables';

.button {
  padding: 12px 24px;
  font-size: 14px;
  border: none;
  color: $white;
  min-width: 100px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.primary {
  background-color: $royal-blue;
}

.cancel {
  background-color: $spindle;
}

.success {
  background-color: $turquoise;
}
